.example-spacer {
    flex: 1 1 auto;
}

.btn{
    margin-right: 5% ;
}



.mat-card{
    margin-left: 5%;
    margin-right: 5% ;
    background-color: antiquewhite;
}

.list-header{
    font-style: normal;
}